<h2>Food List for <span><%= current_user %></span></h2>

<div>
  <%= link_to 'Add Food', new_food_path %>
</div>

<%= render partial: 'foods', layout: 'table_layout', locals: { foods: @foods, columns: %w[name measurement_unit unit_price actions] } %>
